*{
    margin:0;
    padding:5;   
}
body{
  background-image: linear-gradient(#E6DDC4,#678983);
background-repeat:no-repeat;
background-size:1920px ,3000px; }
div.main {
    width: 400px;
    margin:100px auto 0px auto;
}
h1{
    text-align: center;
    padding:10px;
    font-family:sans-serif;
    color:#000000;
}
label{
    font-family: sans-serif;
    font-size: 15px;
    font-style: italic;    
}
.button2{
    border-radius:25px; 
    height:30px;
    width: 330px;
    padding-left: 0px;
    font-family: sans-serif;
    background-color: rgba(21, 0, 250, 0.8);
    color:#fff;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.5);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background:rgba(0,0,0,0.8);
  border-radius: 10px;
  /* box-shadow: 10px 10px 15px rgba(0,0,0,0.05); */
}
h1{
    color: #fff;
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #000000;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #DC3535;
  margin: 30px 0;
}
.txt_field input{
  
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #DC3535;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
  background-color: #fff;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #DC3535;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

